<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a277bd">  <td>21/10/12 19:49:53</td>   <td>0</td> <td title="&gt;&gt;LoginTests.extentReportConfig()[pri:0, instance:Test.LoginTests@6adca536]">&gt;&gt;extentReportConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@453211571</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>21/10/12 19:49:53</td>   <td>194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.initializeBrowser()[pri:0, instance:Test.LoginTests@6adca536]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@453211571</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>21/10/12 19:50:02</td>   <td>9745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.LoginDemo001()[pri:0, instance:Test.LoginTests@6adca536]">LoginDemo001</td> 
  <td>main@453211571</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>21/10/12 19:50:18</td>   <td>25271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.fnCloseBrowser(org.testng.ITestResult)[pri:0, instance:Test.LoginTests@6adca536]">&lt;&lt;fnCloseBrowser</td> 
<td>&nbsp;</td>  <td>main@453211571</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>21/10/12 19:50:19</td>   <td>26291</td> <td title="&lt;&lt;LoginTests.End_SetUp()[pri:0, instance:Test.LoginTests@6adca536]">&lt;&lt;End_SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@453211571</td>   <td></td> </tr>
</table>
