<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c2a19d">  <td>22/02/11 15:55:53</td>   <td>0</td> <td title="&gt;&gt;SanityTests.extentReportConfig()[pri:0, instance:Test.SanityTests@96def03]">&gt;&gt;extentReportConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="c2a19d">  <td>22/02/11 15:55:53</td>   <td>241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SanityTests.initializeBrowser()[pri:0, instance:Test.SanityTests@96def03]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="c2a19d">  <td>22/02/11 15:55:56</td>   <td>2793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SanityTests.verifyToggle()[pri:0, instance:Test.SanityTests@96def03]">verifyToggle</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="c2a19d">  <td>22/02/11 15:56:12</td>   <td>18802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SanityTests.fnCloseBrowser(org.testng.ITestResult)[pri:0, instance:Test.SanityTests@96def03]">&lt;&lt;fnCloseBrowser</td> 
<td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="c2a19d">  <td>22/02/11 15:56:13</td>   <td>19758</td> <td title="&lt;&lt;SanityTests.End_SetUp()[pri:0, instance:Test.SanityTests@96def03]">&lt;&lt;End_SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
</table>
